<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/fragment/common :: head(title='Mock Service', add='index')">
</head>
<body>
<nav th:replace="/fragment/common :: header(headerInclude='index')">
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <h1>Spring MVC Endpoints</h1>
            <table class="table table-striped">
                <tr>
                    <th>Method</th>
                    <th>URL patterns</th>
                </tr>
                <tr th:each="item: ${handlerMethods}">
                    <td class="value" th:text="${item.value}"></td>
                    <td th:text="${item.key.patternsCondition.patterns}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<footer class="footer" th:replace="fragment/common :: footer"></footer>
</body>
</html>
